{{log this}}
<div class="drawer-user-profile">
  <img class="drawer-img-circle" src="{{user.image}}">
  <span class="drawer-font-bold drawer-white">{{user.name}} {{user.lastName}}</span>
</div>
<nav class="mdl-navigation">
  {{#each menu}}
    <a class="mdl-navigation__link" href="{{href}}">{{label}}</a>
  {{/each}}
</nav>
